/include/ "system-conf.dtsi"
/ {
    chosen {
        bootargs = "earlycon clk_ignore_unused consoleblank=0 cma=1000M uio_pdrv_genirq.of_id=generic-uio init_fatal_sh=1";
        stdout-path = "serial0:115200n8";
    };
};

&sdhci0 {
    statu = "okay";
    disable-wp;
    no-1-8-v;
};

&sdhci1 {
    statu = "okay";
    disable-wp;
    no-1-8-v;
};

/*
&amba_pl {
    dummy_1 {
        compatible = "xlnx,dummy";
        #address-cells = <0x2>;
        #size-cells = <0x2>;
        clocks = <&misc_clk_0>;
        reg = <0x0 0x0080010000 0x0 0x10000>;
        ports {
            #address-cells = <0x1>;
            #size-cells = <0x0>;
            port@0 {
                reg = <0x0>;
                xlnx,video-format = <0x2>;
                xlnx,video-width = <0x8>;
                fmc_output:endpoint {
                    remote-endpoint = <&vcap_fmc_in>;
                };
            };
        };
    };
    vcap_fmc_0 {
        compatible = "xlnx,video";
        dmas = <&v_frmbuf_wr_0 0>;
        dma-names = "port0";
        ports {
            #address-cells = <0x1>;
            #size-cells = <0x0>;
            port0: port@0 {
                reg = <0x0>;
                direction = "input";
                vcap_fmc_in:endpoint {
                    remote-endpoint = <&fmc_output>;
                };
            };
        };
    };
};

&v_frmbuf_wr_0 {
    xlnx,dma-align = <32>;
};
*/

&v_tpg_0 {
    tpg_portstpg_input_v_tpg_1: ports {
        /delete-node/   port@1;
        tpg_port0tpg_input_v_tpg_1: port@0 {
            xlnx,video-format = <0x3>;
            tpg_outv_tpg_0: endpoint {
                remote-endpoint = <&v_frmbuf_wr_0v_tpg_0>;
            };
        };
    };
};

&v_frmbuf_wr_0 {
    xlnx,dma-align = <32>;
};

